<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>关于站长</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <!-- menu -->
    <nav>
        <div class="logo">
            <img src="../image/toux.ico" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">网站首页</a></li>
            <li><a href="./about.html">关于作者</a></li>
            <li><a href="./map.html">旅游地图</a></li>
            <li><a href="./test.html">旅游文章</a></li>
            <li><a href="./call.html">联系我们</a></li>
            <li><button class="login-button" onclick="window.location.href ='./sign.html'">登录</button></li>
            <li><button class="join-button" onclick="window.location.href ='./login.html'">注册</button></li>
        </ul>
    </nav>
    <div id="aboutbj"></div>
    <div class="wrapBox">
        <div class="box">
            <div class="box02_content box_content">
                <div id="bar_container" class="bar_container">
                    <div class="bar mint active" data-percent="70" data-skill="HTML5+CSS3"></div>
                    <div class="bar red active" data-percent="50" data-skill="JavaScript"></div>
                    <div class="bar lila active" data-percent="70" data-skill="JAVA"></div>
                    <div class="bar orange active" data-percent="30" data-skill="JavaWeb"></div>
                    <div class="bar gray active" data-percent="30" data-skill="Python"></div>
                    <div class="bar blue active" data-percent="50" data-skill="xml&amp;Tomcat&amp;Linux&amp;Nginx"></div>
                    <div class="bar green active" data-percent="60" data-skill="mysql"></div>
                </div>
                <div id="box02_text">
                    <h1 style="right: 0px;">About panther</h1>
                    <div class="overline" style="right: 0px;"></div>
                    <p style="right: 0px;">2020,第一次接触是C/C++,在嘈杂的明德楼</p>
                    <p style="right: 0px;">2020,十月份在寝室迷上了网络游戏</p>
                    <p style="right: 0px;">十二月份开始学习到python</p>
                    <p style="right: 0px;">2021,年初的时候摸了摸java,觉得枯燥无味</p>
                    <p style="right: 0px;">剩下的月份我在看Java基础</p>
                    <p style="right: 0px;">2021,接触到WordPress,兴趣开始搭建了属于自己的个人博客</p>
                    <p style="right: 0px;">上半年捣鼓博客</p>
                    <p style="right: 0px;">下半年开始学习java</p>
                    <p style="right: 0px;">现在正在学习javaweb</p>
                    <p style="right: 0px;">喜欢开发，研究逻辑算法，每一个小的BUG都不能在我眼里出现</p>
                    <p style="right: 0px;">而未来...</p>
                    <p style="right: 0px;">想成为一名算法工程师</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
<script src="../js/main.js"></script>
<script src="http://qiniu.longxin.press/LuoXue.js" charset="utf-8"></script>

</html>