<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>联系我们</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/call.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<body>
    <!-- menu -->
    <nav>
        <div class="logo">
            <img src="../image/toux.ico" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">网站首页</a></li>
            <li><a href="./about.html">关于作者</a></li>
            <li><a href="./map.html">旅游地图</a></li>
            <li><a href="./test.html">旅游文章</a></li>
            <li><a href="./call.html">联系我们</a></li>
            <li><button class="login-button" onclick="window.location.href ='./sign.html'">登录</button></li>
            <li><button class="join-button" onclick="window.location.href ='./login.html'">注册</button></li>
        </ul>
    </nav>
    <!-- 发票 -->
    <div id="callbj">
        <div id="fa">
            <div class="wrap">
                <div class="menu-frame menu">
                    <div class="inner">
                        <div class="menu-head">
                            <h1 class="menu-title">panther</h1>
                            <p class="menu-info" id="xf_txt"></p>
                        </div>
                        <div class="menu-list">
                            <div class="menu-item">
                                <a href="#"><i class="fa fa-qq fa-siz icon-3d "></i></a>
                                <h3 class="menu-name">&nbsp;QQ</h3>
                                <p class="menu-price">
                                    <span class="num" id="xf_type_qq">123456</span>
                                </p>
                            </div>
                            <div class="menu-item">
                                <a href="#"><i class="fa fa-weixin fa-siz icon-3d "></i></a>
                                <h3 class="menu-name">&nbsp;WeChat</h3>
                                <p class="menu-price">
                                    <span class="num" id="xf_type_wx">123456</span>
                                </p>
                            </div>
                            <div class="menu-item">
                                <a href="#"><i class="fa fa-bookmark fa-siz icon-3d "></i></a>
                                <h3 class="menu-name">&nbsp;个人网站</h3>
                                <p class="menu-price">
                                    <span class="num" id="xf_type_ws">aaaa.com</span>
                                </p>
                            </div>
                            <div class="menu-item">
                                <a href="#"><i class="fa fa-envelope-o fa-siz icon-3d "></i></a>
                                <h3 class="menu-name">&nbsp;email</h3>
                                <p class="menu-price">
                                    <span class="num" id="xf_type_em">123456@163.com</span>
                                </p>
                            </div>
                            <div class="menu-item">
                                <a href="#"><i class="fa fa-headphones fa-siz icon-3d "></i></a>
                                <h3 class="menu-name">&nbsp;telephone</h3>
                                <p class="menu-price">
                                    <span class="num" id="xf_type_tl">11012013014</span>
                                </p>
                            </div>
                            <div class="menu-item">
                                <a href="#"><i class="fa fa-github fa-siz icon-3d "></i></a>
                                <h3 class="menu-name ">&nbsp;github</h3>
                                <p class="menu-price ">
                                    <span class="num" id="xf_type_gt">panther125</span>
                                </p>
                            </div>

                        </div>
                        <!-- / menu-list -->
                        <div class="store">
                            <img class="store-img" style="border-radius:50%; " src="https://static01.imgkr.com/temp/119503a5d66c4529a8020f6d40acee07.jpeg ">
                            <div class="store-info ">
                                <h3>Gin琴酒</h3>
                                <p>九江市</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 小电脑 -->
    <div class="en_box flex flex-align-center flex-pack-center">
        <div class="macbook">
            <div class="inner2">
                <div class="screen">
                    <div class="face-one">
                        <div class="camera"></div>
                        <div class="display">
                            <div class="shade"></div>
                        </div>
                    </div>
                    <img src="http://www.clker.com/cliparts/i/s/H/f/4/T/apple-logo-white.svg" class="logo">
                </div>
                <div class="body">
                    <div class="face-one">
                        <div class="touchpad">
                        </div>
                        <div class="keyboard">
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key space"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                            <div class="key f"></div>
                        </div>
                    </div>
                    <div class="pad one"></div>
                    <div class="pad two"></div>
                    <div class="pad three"></div>
                    <div class="pad four"></div>
                </div>
            </div>
            <div class="shadow"></div>
        </div>
    </div>


</body>
<script>
</script>
<script src="../js/call.js"></script>

</html>