<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅游地域</title>
    <link rel="stylesheet" href="../css/map.css">
    <link rel="stylesheet" href="../css/menu.css">

    <body>
        <!-- menu -->
        <nav>
            <div class="logo">
                <img src="../image/toux.ico" alt="Logo Image">
            </div>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">网站首页</a></li>
                <li><a href="./about.html">关于作者</a></li>
                <li><a href="#">旅游地图</a></li>
                <li><a href="./test.html">旅游文章</a></li>
                <li><a href="./call.html">联系我们</a></li>
                <li><button class="login-button" onclick="window.location.href ='./sign.html'">登录</button></li>
                <li><button class="join-button" onclick="window.location.href ='./login.html'">注册</button></li>
            </ul>
        </nav>
        <!-- 旋转图 -->

        <div id="wai">
            <div id="bigbox">
                <div class="box">
                    <div style="--i:1"><img src="https://pic.imgdb.cn/item/6278fd58094754312980c054.jpg"></div>
                    <div style="--i:2"><img src="https://pic.imgdb.cn/item/6278fe3c094754312982de7f.jpg"></div>
                    <div style="--i:3"><img src="https://pic.imgdb.cn/item/627901b609475431298b3e34.jpg"></div>
                    <div style="--i:4"><img src="https://pic.imgdb.cn/item/627901fa09475431298be811.jpg"></div>
                    <div style="--i:5"><img src="https://pic.imgdb.cn/item/6279026e09475431298d08e2.jpg"></div>
                    <div style="--i:6"><img src="https://pic.imgdb.cn/item/627903f4094754312990c065.jpg"></div>
                    <div style="--i:7"><img src="https://pic.imgdb.cn/item/627905eb094754312995be15.jpg"></div>
                    <div style="--i:8"><img src="https://pic.imgdb.cn/item/6279067a0947543129971557.jpg"></div>
                    <h1>盗墓笔记</h1>
                </div>
            </div>
        </div>
        <!-- 地域选择球 -->
        <header class="section-header wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h3>地域选择球</h3>
            <p>前往墓室一探究竟</p>
        </header>
        <div class="beij">
            <div class="ly">
                <div class="chose_up">
                    <a href="./text1.html">
                        <p>七星鲁王宫</p>
                    </a>
                </div>
                <div class="chose_low">
                    <img src="https://pic.imgdb.cn/item/6278cb4b0947543129028ef2.jpg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up2" style="background-color: skyblue;">
                    <a href="./test2.html">
                        <p>海底乘船墓</p>
                    </a>
                </div>
                <div class="chose_low2">
                    <img src="../image/2.jpeg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up" style="background-color: grey;">
                    <a href="./test3.html">
                        <p>秦岭神树</p>
                    </a>
                </div>
                <div class="chose_low">
                    <img src="../image/3 .jpeg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up2" style="background-color: pink;">
                    <a href="./test7.html">
                        <p>青铜门</p>
                    </a>
                </div>
                <div class="chose_low2">
                    <img src="../image/4.jpeg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up2" style="background-color: purple;">
                    <a href="./test4.html">
                        <p>云顶天宫</p>
                    </a>
                </div>
                <div class="chose_low2">
                    <img src="../image/5.jpeg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up" style="margin-left: 150px;background-color: rgb(83, 97, 6);">
                    <a href="#">
                        <p>沙海</p>
                    </a>
                </div>
                <div class="chose_low" style="margin-left: 150px">
                    <img src="../image/8.jpeg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up" style="background-color:rgb(9, 143, 114);">
                    <a href="./test5.html">
                        <p>蛇沼鬼城</p>
                    </a>
                </div>
                <div class="chose_low">
                    <img src="../image/6.jpeg" style="width: 100%;">
                </div>
            </div>

            <div class="ly">
                <div class="chose_up" style="background-color:rgb(19, 119, 201);">
                    <a href="./test6.html">
                        <p>张家古楼</p>
                    </a>
                </div>
                <div class="chose_low">
                    <img src="../image/7.jpeg" style="width: 100%;">
                </div>
            </div>
        </div>

    </body>

</html>