<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>沙海</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">Gin琴酒</span>
        <span id="myself">
            <a href="../index.html">
               panther
            </a>
            <a href="../index.html">
                1年4个月
            </a>
            <div id="p_b_follow"><a>加关注</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">七星鲁王宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">西沙海底墓</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">秦岭神树</a></h5>
            <h5 style="margin-left: 35px;;"><a href="./test4.html">云顶天宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">蛇沼鬼城</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">阴山古楼</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">青铜门</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206)">沙海</a>
            </h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>沙海</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a href="./map.html">地图</a></li>
                    <li>
                        <a href="./sign.html">注册</a>

                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">联系站长</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627f80670947543129baa736.jpg"></div>
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627a8b2b0947543129999926.jpg"></div>
            <div>
                <div class="wenzi">
                    <h5>主要剧情</h5>
                    <p>普通高考落榜生黎簇意外被袭击后被卷入一个以世界现状为目的庞大计划中。然后认识了这一切的幕后布局者，以旅行摄影作家关根身份登场的吴邪，成为吴邪沙海颠覆计划的关键人，而吴邪利用九门禁地古潼京，谋划出清肃九门摧毁汪家的反击计划。吴邪已收敛起当年的天真，以他非同常人的智慧，开始向几千年前就被设定的命局宣战 。</p>
                    <h5>人物介绍</h5>
                    <p>吴邪，黎簇、张日山、梁湾、黑瞎子、小花、苏万、苏难、王盟
                    </p>
                    <h5>剧情分析</h5>
                    <h6>剧情（上）</h6>
                    <p>古潼京里，黎簇被汪家人胁迫，在古潼京里为他们读取费洛蒙。黎簇看到了吴三省留给他们这些后人的记忆，知道了汪家人的目的取代九门，知道了吴邪的使命引汪家人上）。看到了吴邪留给他的记忆（打入汪家内部）。黎簇读取的这些费洛蒙，他没有告诉汪家人，只是警告汪家人，再往前走就会有危险。可是汪家人根本不停，一步步的把他们自己逼上了绝路。苏万、梁湾和黑瞎子因为被汪家人追杀，无路可退，跳了崖，生死不明</p>
                    <h6>剧情（中）</h6>
                    <p>吴邪把打入汪家的任务通过黑毛蛇，传达给黎簇。付清这些年欠王盟的工资。自己孤身一人来到墨脱。他来这的目的，有可能是布置新的“棋局”，等待汪家人上当。有可能跟他与小哥张起灵（肖宇梁 饰）的十年之约有关系。不幸的是吴邪被苏难（张萌 饰）偷袭，一同掉到山崖下面，也是生死不明</p>
                    <h6>剧情（下）</h6>
                    <p>王胖子和霍秀秀、蓝袍藏人，好不容易抓住了一个混入九门的汪家人汪灿，本想通过他，“挖”出其他隐藏在九门里的汪家人，但是汪灿被汪家人救走，王胖子三人还差点丧命。以霍有雪和陈金水、尹南风为首的几家人，不顾张日山的反对，以“吴邪可以去古潼京，我们也可以去”为借口来到了沙漠，碰到了虎口脱险的黎簇。还好有吴邪的提前指导，黎簇顺利和小满哥、吴家人接触上，可以和霍有雪他们分庭抗衡。这下，汪家人高兴了，他们最喜欢看到九门的人“窝里斗”</p>
                    <h5>分析</h5>
                    <p>黎簇考上了大学，吴邪他们也平安回来了，梁湾开始踏踏实实地做自己的医生，汪岑带着汪家人打算东山再起，张家与汪家，亦正亦邪，相生相克，他们的战斗不会停止，也不会结束。他们在制衡这对方的发展，让世界保持着平衡。</p>
                    <p>到此更新的盗墓笔记在这结尾，随后开启雨村极夜，以及青铜门的秘密就得看三叔的脑洞了😫</p>
                    <div class="col-img"><img src="https://pic.imgdb.cn/item/627f84990947543129c90110.jpg"></div>
                    <p>上一篇：<a href="./test7.html">青铜门</a></p>
                    <p>下一篇：</p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">panther @ 2022-05-13</p>
        </div>
    </div>

</body>

</html>