<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>蛇沼鬼城</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">Gin琴酒</span>
        <span id="myself">
            <a href="../index.html">
               panther
            </a>
            <a href="../index.html">
                1年4个月
            </a>
            <div id="p_b_follow"><a>加关注</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">七星鲁王宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">西沙海底墓</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">秦岭神树</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">云顶天宫</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">蛇沼鬼城</h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">阴山古楼</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">青铜门</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">沙海</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>蛇沼鬼城</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a href="./map.html">地图</a></li>
                    <li>
                        <a href="./sign.html">注册</a>

                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">联系站长</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627ce1e80947543129487604.jpg"></div>
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627f7452094754312992e280.jpg"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>从云顶天宫顺利脱出之后，吴邪和苏醒后的三叔进行了一次长谈。吴邪了解到在二十年前海底古墓里发生的三叔没有透露的隐情。关于解连环的神秘死亡以及背后牵涉到战国帛书和老长沙的恩怨，也理出了端倪。就在吴邪认为事情接近真相的时候，两盘来自张起灵的录像带，又让事情重新进入了重重迷雾之中…… 寻着录像带中支离破碎的线索，吴邪只身一人来到了陌生的青海…… 顺着前人留下的线索，吴邪发现了考古队最后的去向。为了了解事情的真相，吴邪混入了阿宁前往柴达木盐沼的探险队，同时三叔的队伍也神秘地从敦煌出发，两只队伍似乎有着相同的目标……
                        这是一个谜一样故事，戈壁大雨中才会出现的古老鬼城到底是谁的城池？海底墓穴中诡异的古尸是不是汪藏海？战国帛书上毫无意义的天数和鬼图到底有着什么含义？废弃疗养院地下室里来历不明的巨大石棺里装的是谁？录像带中诡异的行为有着什么不为人知的含义？西沙考古队那从来没有人提起的第十一人到底是谁？
                    </p>
                    <h5>人物介绍</h5>
                    <p>吴邪、张起灵、王胖子、吴三省、阿宁、陈文锦、黑瞎子、小花、刘丧
                    </p>
                    <h5>剧情分析</h5>
                    <h6>位置</h6>
                    <p>四川北部的一个无底洞之山,那个洞穴是通往冥界的通道</p>
                    <h6>墓主</h6>
                    <p>西王母</p>
                    <h6>剧情（上）</h6>
                    <p>从云顶天宫顺利脱出之后，吴邪和苏醒后的三叔进行了一次长谈。吴邪了解到在二十年前海底古墓里发生的三叔没有透露的隐情。 关于解连环的神秘死亡以及背后牵涉到战国帛书和老长沙的恩怨，也理出了端倪。就在吴邪认为事情接近真相的时候，两盘来自张起灵的录像带，又让事情重新进入了重重迷雾之中……
                    </p>
                    <h6>剧情（中）</h6>
                    <p>吴三省在蛇沼鬼城见到了陈文锦一行人，也知道陈文锦他们消失的秘密，但吴三省身上还有其他任务，没办法帮陈文锦破解上千年的谜团，所以大结局的时候陈文锦一行人还在蛇沼鬼城沉睡。 吴三省和吴邪等人在蛇沼鬼城分开后，带着自己的伙计按照陈文锦留下的线索找到了陈文锦一行人，亲眼看到了陈文锦他们的遭遇，但吴三省却没办法救人。 十年前，吴三省和陈文锦的考古队在海底墓发现了关于长生的秘密，陈文锦醉心于研究，数次带人去各个古墓寻找线索，后来在蛇沼鬼城找到了西王母长生的秘密。 陈文锦、霍玲等人为追求长生吃了西王母的尸蹩丹药，离开蛇沼鬼城后身体发生变化，霍玲变成了禁婆，其他人吓得赶紧赶回蛇沼鬼城，只要呆在蛇沼鬼城内就不会变成禁婆。
                        陈文锦一行人留在陨玉中沉睡，陨玉分泌的物质可以抵消尸蟞丹药的毒性，但人进入陨玉后会一直沉睡，想要真正长生要等到两千年之后。吴三省在蛇沼鬼城见到陈文锦和其他沉睡的人才知晓了这个秘密，但并未告诉其他人。
                    </p>
                    <h6>剧情（下）</h6>
                    <p>陈文锦和张起灵进了陨石上的洞中，最后只有张起灵出来了，而且他再次失忆，忘记了洞中发生了什么事情以及陈文锦的下落，为了安全起见，他们只能先回去，再做打算。</p>
                    <h5>分析</h5>
                    <p>阿宁被凤尾鸡冠蛇咬死，从此阿宁正式下线，吴邪也将失去天真</p>
                    <div class="col-img"><img src="https://pic.imgdb.cn/item/627f779809475431299d6346.jpg"></div>
                    <p>上一篇：<a href="./test4.html">云顶天宫</a></p>
                    <p>下一篇：<a href="./test6.html">阴山古楼</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">panther @ 2022-05-13</p>
        </div>
    </div>

</body>

</html>