<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>青铜门</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">Gin琴酒</span>
        <span id="myself">
            <a href="../index.html">
               panther
            </a>
            <a href="../index.html">
                1年4个月
            </a>
            <div id="p_b_follow"><a>加关注</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">七星鲁王宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">西沙海底墓</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">秦岭神树</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">云顶天宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">蛇沼鬼城</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">阴山古楼</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">青铜门</h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">沙海</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>青铜门</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a href="./map.html">地图</a></li>
                    <li>
                        <a href="./sign.html">注册</a>

                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">联系站长</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627ce31f09475431294ec7ce.jpg"></div>
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627a8af0094754312998f3b9.jpg"></div>
            <div>
                <div class="wenzi">
                    <h5>真相</h5>
                    <p>首先，青铜门是一切的关键</p>
                    <p>其次，青铜门背后有一种千手观音式的生物</p>
                    <p>第三，青铜门、青铜树、塔木托的陨玉都是宇宙来的物体坠落后的遗留。</p>
                    <p>第四，青铜门是一种复杂的设施，并且用一枚小小的鬼玺就可以打开。</p>
                    <p>第五，塔木托的陨玉和其他几处遗址原本是一体的</p>
                    <p>第六，陨玉与生物的生命密切相关，甚至能够让生物的细胞再生</p>
                    <p> 第七，万奴王更迭是周期性地从青铜门出来。</p>
                    <h5>逻辑脑部真相</h5>
                    <h6>推理（上）</h6>
                    <p>青铜门下是一艘上古坠毁的飞船，外星人是那种千手观音的形态。 至于陨石坠落，分裂后在很多地方着陆云云。其实坠落的不是陨石，而是飞船的残骸。陨玉是飞船的部分部件。 飞船的坠毁事件应该是在上古时代，出于某种原因，必须派一个“万奴王”出来统御普通的人类做一些事情。每个“万奴王”将死的时候，打开青铜门进去，再接出来一个外星人继续未完成的工作。 陨玉意味着长生不死，身体细胞持续生长。类似于宇宙飞船里的冷冻睡眠仓，用于保持宇航员在长久航行情况下的生命力。 青铜门后应该有这种东西，每个万奴王快死的时候，就进入青铜门重新沉睡,保持存活。同时，从青铜门后陨玉中沉睡的外星人中唤醒一个接替。至于塔木托的陨玉，里面不是也有人么，可能是残留下来的外星人。
                        铁面生、东夏人和张家祖先，应该是外星人的人类合作者，或者是外星人血统在与人类的混合，或者被外星人做过人种改良。东夏人只是千手观音式的外星生物利用过的一个人类种族，而不是说东夏人建了云顶天宫或是青铜门。至于鲁殇王获得的鬼玺，后面也说了，是打开青铜门的钥匙，而且鲁殇王自己也用了鬼玺。因此，鲁殇王有可能是最早接触到这个秘密，并被外星人所利用的一批人。这也是为什么闷油瓶上来就要掐死鲁殇王。（至于闷油瓶说的铁面生替代了鲁殇王云云，是闷油瓶的谎话，三叔也这么说。）早在鲁殇王时代人类就和这种外星生物就有过接触，鲁殇王拿到鬼玺后进过青铜门，获得了千手观音式外星人的帮助，借了所谓的“阴兵”。
                        初代张起灵本身就是一个东夏人，不是东夏人都显得很年轻么？
                    </p>
                    <h6>推理（中）</h6>
                    <p>在元朝，蒙古人攻东夏的时候，初代张起灵背叛东夏，盗走鬼玺，目的是阻止万奴王更迭。 千手观音式的万奴王，作为一种外星生物，自然不会将人类当做人类看待。初代张起灵难以忍受万奴王残暴统治而出此下策。 由于这种原因，在蒙古人攻东夏时，东夏人无法借助青铜门后万奴王的力量，于是被蒙古人屠戮殆尽。 在元末明初的时候，蒙古人势力萎缩，东夏遗孤想恢复政权，所以重新潜入长白山地底，和作为守卫的人鸟发生战争，发现了九龙抬尸棺。 但是，这时他们没有鬼玺，无法打开青铜门。于是，他们绑架汪藏海，目的有两个：一方面发掘鲁殇王墓穴，寻找鲁殇王以前使用的另一只鬼玺（鬼玺不止一只）；另一方面让汪藏海重修被战乱损毁的王陵，目的是迎接新的万奴王。
                        然而，汪藏海藏起了找到的鬼玺致使东夏遗孤的目的没有完成。另一种可能性是，张家人阻止了东夏遗孤的复兴计划，毁掉了云顶天宫，夺取了另一只鬼玺，借以掩藏秘密。 这也解释了，为什么云顶天宫早不修，晚不修，非要在元末修。并且为什么汪藏海那么高超的技术，建成的云顶天宫却在一日间毁灭。这也可以解释，为什么“云顶天宫”篇中，千手观音尸一醒来，就往青铜门跑的原因。这个是末代的万奴王，由于没有鬼玺的原因，早就该回到青铜门内沉睡的他，耽搁了下来，新的万奴王也无法更替，失去了外星生物力量的帮助，东夏人因此变得羸弱、消亡。
                    </p>
                    <h6>推理（下）</h6>
                    <p>外星人的存在以及外星人背后掌控着人类社会，这无疑是一个值得多年保守的秘密。因为如果泄露，既有的社会秩序会混乱（这尤其不利于社会内处于统治阶级的精英。所以在他们无意间发现这个秘密后，基本都持掩藏态度。比如“秦岭神树”写的乾隆皇帝杀知情大臣的桥段）。 对张家来说，我们能看到以前这些外星人对人类并不友好，至少被人们视为一种邪恶和恐怖的存在。所以，初代张起灵在看到万奴王残暴统治的情况下，背叛了他们。这中间还能有些创造故事空间，比如说初代张起灵的恋人被万奴王残害，他精神受刺激，就此背叛并定下家训云云。
                        就汪藏海来说，汪藏海想公开秘密的原因，应该是相信人们在知道这个秘密之后，能够协力在一起对抗这种生物。对于汪藏海这种类似科学家的人物来说，他们往往相信人类能力的无限性，相信人定胜天。所以，汪藏海会对这个秘密采取这种立场，一点都不奇怪。 但是，张家的意见似乎是不相信人们能采取理性的态度，怕有人像以前的东夏人那样想要得到外星生物的力量而唤醒他们。汪和张的分歧应该就是在此。 这本小说经常提及，最可怕的是人心，贪欲人人皆有，尤其是掌控巨大力量的贪欲。知道了这种巨大力量的存在，必定会有人试图去攫取该种力量，或是试图对抗这种力量，这都很危险，都可能引发青铜门后的异变。因此，保密是必须的。这样解释，也再一次印证了这部小说的老说的那个口号，最可怕的是人心。很有可能，张家人就是看到了东夏人攫取这种力量却自取灭亡的教训，所以定下了永守秘密的祖训。血的教训成就这个家族使命，即使这个使命并不一定很符合理想。这样解读，很符合逻辑。
                    </p>
                    <h5>分析</h5>
                    <p>十年人间</p>
                    <p>所以十年，吴邪遍体鳞伤，回不去天真；</p>
                    <p> 所以十年，张起灵独守空门，忆不起前尘；</p>
                    <p> 所以十年，黑瞎子笑看人生，躲不过死神；</p>
                    <p> 所以十年，谢雨花枷锁一身，卸不下重任；</p>
                    <p> 所以十年，王胖子守着孤坟，忘不了伊人；</p>
                    <p> 所以十年，潘子尸骨无存，得不到安稳；</p>
                    <p> 所以十年，吴三省谜海浮沉，解不了疑问。</p>
                    <p>或许你们只是虚拟的人物，但你们依旧是我的青春。</p>
                    <div class="col-img"><img src="https://pic.imgdb.cn/item/627f7f8f0947543129b7ccbd.png"></div>
                    <p>上一篇：
                        <a href="./test6.html">阴山古楼</a>
                    </p>
                    <p>下一篇：<a href="./test8.html">沙海</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">panther @ 2022-05-13</p>
        </div>
    </div>

</body>

</html>