<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅游文章</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/test.css">
</head>

<body>
    <!-- menu -->
    <nav>
        <div class="logo">
            <img src="../image/toux.ico" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">网站首页</a></li>
            <li><a href="./about.html">关于作者</a></li>
            <li><a href="./map.html">旅游地图</a></li>
            <li><a href="./test.html">旅游文章</a></li>
            <li><a href="./call.html">联系我们</a></li>
            <li><button class="login-button" onclick="window.location.href ='./sign.html'">登录</button></li>
            <li><button class="join-button" onclick="window.location.href ='./login.html'">注册</button></li>
        </ul>
    </nav>
    <div id="aboutbj"></div>

    <!-- 文章 -->
    <div class="post news top">
        <div class="PostNews">
            <ul>
                <li style="visibility: visible; animation-name: fadeInUp;">
                    <div class="imgBox">
                        <a href="./text1.html"> <img src="https://pic.imgdb.cn/item/627ce0a20947543129424533.jpg" style="width: 100%;"> </a>
                    </div>
                    <div class="imgText">
                        <h4><a href="./text1.html">七星鲁王宫</a></h4>
                        <p> 五十年前，一群盗墓贼挖到了一部战国帛书，残书中记载了一个奇特的战国古墓位置.....</p>
                        <p class="time"> 2021-06-16 </p>
                        <a href="./text1.html"></a>
                        <a href="./text1.html"><img src="../image/right.svg" class="right"></a>
                    </div>
                </li>
                <li style="visibility: visible; animation-name: fadeInUp;">
                    <div class="imgBox">
                        <a href="./test2.html"> <img src="https://pic.imgdb.cn/item/627ce3c30947543129522fc4.jpg" style="width: 100%;"> </a>
                    </div>
                    <div class="imgText">
                        <h4><a href="./test2.html">西沙海底墓</a></h4>
                        <p> 霍家霍老太知道并涉及长生的研究后决定将考古队派往西沙海底墓强迫吴三省配合...</p>
                        <p class="time"> 2021-06-16 </p>
                        <a href="./test2.html"><img src="../image/right.svg" class="right"></a>
                    </div>
                </li>
                <li style="visibility: visible; animation-name: fadeInUp;">
                    <div class="imgBox">
                        <a href="./test3.html"> <img src="https://pic.imgdb.cn/item/6278fe3c094754312982de7f.jpg" style="width: 100%;"> </a>
                    </div>
                    <div class="imgText">
                        <h4><a href="./test3.html">秦岭神树</a></h4>
                        <p>秦岭神树的人拥有梦想成真的能力，即将想法物质化甚至可以创造另一个自己。...</p>
                        <p class="time"> 2021-06-16 </p>
                        <a href="./test3.html"><img src="../image/right.svg" class="right"></a>
                    </div>
                </li>
                <li style="visibility: visible; animation-name: fadeInUp;">
                    <div class="imgBox">
                        <a href="./test4.html"> <img src="https://pic.imgdb.cn/item/627ce198094754312946dc22.jpg" style="width: 100%;"> </a>
                    </div>
                    <div class="imgText">
                        <h4><a href="./test4.html">云顶天宫</a></h4>
                        <p> 长白山很神奇，风水学中长白山也不比谁差，昆仑是地龙脉中最大的，号称龙脉之祖...</p>
                        <p class="time"> 2021-06-16 </p>
                        <a href="./test4.html"><img src="../image/right.svg" class="right"></a>
                    </div>
                </li>
                <div class="PostNews">
                    <li style="visibility: visible; animation-name: fadeInUp;">
                        <div class="imgBox">
                            <a href="./test5.html"> <img src="https://pic.imgdb.cn/item/627ce1e80947543129487604.jpg" style="width: 100%;"> </a>
                        </div>
                        <div class="imgText">
                            <h4><a href="./test5.html">蛇沼鬼城</a></h4>
                            <p> 吴邪认为事情接近真相的时候，两盘来自张起灵的录像带，又让事情重新进入了重重迷雾之中……</p>
                            <p class="time"> 2021-06-16 </p>
                            <a href="./test5.html"><img src="../image/right.svg" class="right"></a>
                        </div>
                    </li>
                    <li style="visibility: visible; animation-name: fadeInUp;">
                        <div class="imgBox">
                            <a href="./test6.html"> <img src="https://pic.imgdb.cn/item/627ce2f409475431294deb55.jpg" style="width: 100%;"> </a>
                        </div>
                        <div class="imgText">
                            <h4><a href="./test6.html">阴山古楼</a></h4>
                            <p> 这个被水淹没的千年瑶寨到底隐藏了怎样的大阴谋？随着麒麟文身与古寨的呼应，闷油瓶的身世前所未有地明朗起来……</p>
                            <p class="time"> 2021-06-16 </p>
                            <a href="./test6.html"><img src="../image/right.svg" class="right"></a>
                        </div>
                    </li>
                    <li style="visibility: visible; animation-name: fadeInUp;">
                        <div class="imgBox loading">
                            <a href="./test7.html"> <img src="https://pic.imgdb.cn/item/627ce31f09475431294ec7ce.jpg" style="width: 100%;"> </a>
                        </div>
                        <div class="imgText">
                            <h4><a href="./test7.html">青铜门</a></h4>
                            <p> 青铜门背后的终极秘密究竟是什么？陈文锦等人口中那个无所不在，无所不知的“它”又是指什么？西王母与鲁殇王真的都拥有长生不死之术么？...</p>
                            <p class="time"> 2021-06-16 </p>
                            <a href="./test7.html"><img src="../image/right.svg" class="right"></a>
                        </div>
                    </li>
                    <li style="visibility: visible; animation-name: fadeInUp;">
                        <div class="imgBox">
                            <a href="./test8.html"> <img src="https://pic.imgdb.cn/item/627ce3640947543129504012.jpg" style="width: 100%;"> </a>
                        </div>
                        <div class="imgText">
                            <h4><a href="./test8.html">沙海</a></h4>
                            <p> 黎簇意外被袭击后被卷入一个以世界现状为目的庞大计划中。然后认识了这一切的幕后布局者...</p>
                            <p class="time"> 2021-06-16 </p>
                            <a href="./test8.html"><img src="../image/right.svg" class="right"></a>
                        </div>
                    </li>
            </ul>
            </div>
        </div>

    </div>


</body>

</html>