<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>西沙海底墓</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">Gin琴酒</span>
        <span id="myself">
            <a href="../index.html">
               panther
            </a>
            <a href="../index.html">
                1年4个月
            </a>
            <div id="p_b_follow"><a>加关注</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px;"><a href="./text1.html">七星鲁王宫</a></h5>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">西沙海底墓</h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">秦岭神树</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">云顶天宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">蛇沼鬼城</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">阴山古楼</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">青铜门</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">沙海</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>西沙海底墓</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a href="./map.html">地图</a></li>
                    <li>
                        <a href="./sign.html">注册</a>

                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">联系站长</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src=" https://pic.imgdb.cn/item/627ce3c30947543129522fc4.jpg"></div>
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627a5d9e0947543129f17649.jpg"></div>
            <div>
                <div class="wenzi">
                    <h5>内容简介</h5>
                    <p>是吴邪打开自七星鲁王宫得到的盒子看到一只蛇眉铜鱼，三叔讲述了十几年前跟随文锦考古队去西沙做沉船考古中所遇到的诡异经历，后来吴邪等人又进入了西沙汪藏海的沉船葬海底墓……从荒山中机关重重的战国鲁王墓到深埋海底、掩藏无数秘密的明代船墓，从头发里长着人脸的「禁婆」到暴风雨中出没在鬼船上勾人魂魄的「海猴子」 ……，</p>
                    <h5>主要人物</h5>
                    <p>吴邪，张起灵（小哥，闷油瓶），王胖子，吴邪三叔吴三省，阿宁，谢连环</p>
                    <h5>剧情分析</h5>
                    <h6>1.位置</h6>
                    <p>海南省东南部
                    </p>
                    <h6>2.墓主</h6>
                    <p>汪藏海
                    </p>
                    <h6>结构</h6>
                    <p>先来了解下海底墓的结构吧。海底墓有两个墓道，三个墓室，还有若干个耳室，墓穴也会随着潮水起伏变化。海底墓被称为沉船葬海底墓，意思是陵墓建造在船上，然后将船砸漏沉到海底，最后再把漏的地方密封起来，就像陆地上的陵墓一样，当然这个工程是巨大的，没有人力、物力和时间是完成不了的。
                    </p>
                    <h6>主要剧情</h6>
                    <p>故事发生的地点是明代沉船葬海底墓，吴邪等人意外进入海底墓，展开一段惊心动魄的探海之旅，这座海底墓犹如迷宫，机关重重，险象环生，吴邪、张起灵和王胖子破险前行，寻找三叔失踪之谜和海底墓的真相。汪藏海在东夏发现了长生不老的秘密，离开东夏后，他就建立了海底墓，用来研究长生不老，只是他最后没能成功，所以海底墓不是谁的墓，而是汪藏海为掩人耳目打造的。
                    </p>
                    <h6>剧情（上）</h6>
                    <p>第一次：三叔和解连环一起进去的。在考古队熟睡的那个夜晚，解连环偷偷前进，被吴三省发现，二人争执不下，决定一起根据裘德考的线索和地图进入海底墓。在此过程中，三叔被人袭击，这个人便是齐羽，在怒海潜沙中，南派三叔没交代袭击者身份，但是原著结局时曾提到过西沙的事情，齐羽当年也是考古队一员，也曾经下过墓，后来还被三叔给抓到了。</p>
                    <h6>剧情（中）</h6>
                    <p>第二次：考古队的进入。被袭击之后，解连环和吴三省决定共同身份，吴三省呆在墓室中，由解连环假扮吴三省带考古队进入墓室。解连环在耳室中装睡，陈文锦想让“吴三省”好好休息并没有叫醒他，所以陈文锦带领队伍进入，再由三叔吸引众人，并迷晕众人。之所以如此大费周章，一方面是因为“组织”在考古队内部安插了人监视三叔及解连环，另一方面是三叔和解连环想知道疗养院的具体位置，将众人迷晕后交给组织，并跟踪到疗养院的位置，并进行后续操作。</p>
                    <h6>剧情（下）</h6>
                    <p>第三次：铁三角、阿宁队伍。第一次进入时，只有三叔和解连环进入的是真正的墓室。而第二次和第三次进入的都是其上层的建筑，（内部结构可以想象成一个电梯，是一个随时变动的机关）墓室内的蛇眉铜鱼已经由三叔拿走。蛇眉铜鱼是汪藏海用来记录自己生平的，一个在鲁王宫，一个在海底墓，另外一个由陈皮阿四（九门的人物会单独说）在镜儿宫盗出但被苗人割瞎了双眼。</p>
                    <h5>解析</h5>
                    <p>阿宁第一次出场，以后会时常伴随吴邪下墓蛇眉铜鱼是汪藏海用来记录自己生平的，一个在鲁王宫，一个在海底的墓，另外一个由陈皮阿四由镜儿宫盗出但被割瞎了双眼。而这一切巨大的秘密都指向一个地方——云顶天宫！</p>
                    <div class="col-img"><img src="https://pic.imgdb.cn/item/627a5d9e0947543129f17649.jpg"></div>
                    <p>上一篇：<a href="./text1.html">七星鲁王宫</a></p>
                    <p>下一篇：<a href="./test3.html">秦岭神树</a></p>
                </div>
                <!--end div.wenzi-2-->
            </div>
            <!--end div.col-sm-12-->
        </div>
        <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">panther @ 2022-05-13</p>
        </div>
    </div>

</body>

</html>