<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>七星鲁王宫</title>
    <link rel="stylesheet" href="../css/texts.css">
</head>

<body>
    <div class="ceb">
        <div id="title"></div>
        <span id="name">Gin琴酒</span>
        <span id="myself">
            <a href="../index.html">
               panther
            </a>
            <a href="../index.html">
                1年4个月
            </a>
            <div id="p_b_follow"><a>加关注</a></div>
        </span>
        <div id="texts">
            <h4>文章</h4>
            <h5 style="margin-left: 35px; color: rgb(67, 65, 206);">七星鲁王宫</h5>
            <h5 style="margin-left: 35px;"><a href="./test2.html">西沙海底墓</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test3.html">秦岭神树</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test4.html">云顶天宫</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test5.html">蛇沼鬼城</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test6.html">阴山古楼</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test7.html">青铜门</a></h5>
            <h5 style="margin-left: 35px;"><a href="./test8.html">沙海</a></h5>
        </div>

    </div>
    <!--内容-->
    <div class="container neirong-jian">
        <div class="row">
            <div class="col-h4">
                <h4>七星鲁王宫</h4>
            </div>
            <hr class="row-hr">
            <div id="link">
                <ul id="navList">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./about.html">关于</a>
                    </li>
                    <li>
                        <a href="./map.html">地图</a></li>
                    <li>
                        <a href="./login.html">注册</a>

                    </li>
                    <li>
                        <a id="blog_nav_admin" href="./call.html">联系站长</a>
                    </li>
                </ul>
            </div>
            <hr class="row-hr">
            <div class="col-img"><img src="https://pic.imgdb.cn/item/627ce0a20947543129424533.jpg"></div>
            <div class="col-img"><img src="https://pic.imgdb.cn/item/6279e3040947543129622c7c.jpg"></div>
            <div class="wenzi">
                <h5>内容简介</h5>
                <p>五十年前，一群盗墓贼挖到了一部战国帛书，残书中记载了一个奇特的战国古墓位置，但也因为遭遇恐怖经历几乎全部身亡。五十年後，其中一个盗墓贼的孙子在先人笔记中发现了这个秘密，随即纠集了一批经验丰富的盗墓高手前去寻宝，但谁也没有想到，这个古墓中竟然有著这麼多诡异的事物： 七星疑棺、青眼狐屍、九头蛇柏……。这神秘的墓主人到底是谁，他们到底能不能找到真正的棺椁？为什么墓中还有那么多谜团无法破解？后来发现的海底诡异船墓、秦岭上的万年神木以及崇山峻岭中的天宫雪墓与这座古墓又有着怎样的关系？
                    它们背后究竟隐藏着哪些千古之谜？够胆量就看《盗墓笔记》。 [1] 七星鲁王宫是本作的第一个故事，也是吴邪的第一次下地，参与到这种活动中实在是好奇心作怪，这个故事中，靠着闷油瓶的力挽狂澜，吴邪他们最终逃出生天，整个故事开始极端的扑朔迷离。
                </p>
                <h5>人物介绍</h5>
                <p>主角吴邪，张起灵（小哥，闷油瓶），王胖子，吴邪三叔吴三省，爷爷吴老狗，伙计王盟，三叔手下潘子，大奎，大金牙</p>
                <h5>剧情分析</h5>
                <h6>1. 位置: </h6>
                <p>位置：山东省临沂蒙山平邑县附近。
                </p>
                <h6>2. 墓主：</h6>
                <p>周穆王、鲁殇王、铁面生
                </p>
                <h6>3.剧情（上）:</h6>
                <p>50年前，四个土夫子（吴邪的祖辈们）在长沙镖子岭发现了战国帛书，但是很不幸的是，其中一位触碰了机关变成了血尸，而这份战国帛书有吴邪的爷爷带出。但被裘德考骗去了。1974年，裘德考破译了帛书，由大金牙引吴邪入局，三叔带着吴邪前往山东的鲁王宫。
                </p>
                <h6>4．剧情（中）</h6>
                <p> 这个墓相当的诡异，因为它原是周穆王的古墓，却被鲁殇王所盗，同时将穿在周穆王身上的能够让人长生不老的玉佣穿在了自己的身上。没想到却被自己的军师铁面生所伤害，之后躺在玉佣里的是铁面生，被小哥掐死了。玉佣500年蜕皮一次，但是未到时间脱下，尸体将会起尸变变成血尸。所以在众人入口时小哥跪下的棺材是周穆王的血尸，路上遇到的最后被小哥扭断脖子的则是鲁殇王的血尸。
                </p>
                <h6>5.剧情（下）</h6>
                <p>吴邪从这个墓中得到了紫玉匣子，打开后是蛇眉铜鱼，而小哥却拿走了鬼玺，可以开启青铜门的鬼玺。这个鬼玺不是汪藏海放入的，也不是鲁殇王放入的，而是西王母赠予周穆王的（他俩是情人，后面西王母会详细介绍），而鲁殇王在盗墓时发现了鬼玺，并用其调动阴兵，而非他所说的梦中大蛇赠予。</p>
                <p> 荷叶，即莲的叶子，有清热、解暑、开胃、止血等功效。近年还发现有降低胆固醇的作用。有人用荷叶煎剂治疗高血脂症，以20天为一疗程，结果绝大多数人都有效果。</p>
                <h5>解析</h5>
                <p>吴邪带入整个事情的开端！ 七星鲁王宫篇刚开始说了吴邪的爷爷辈，挖开了一个血尸墓，到最后只有吴邪活了下来，其实血尸墓，是指带有朱砂的古墓，用洛阳铲挖出来的土几乎都是红色的，如血泡过的一般，所以称之为血尸墓！ 在这本书中，吴邪是第一次下墓，而且还碰到了另外两位主人公，那就是胖子和小哥（张起灵）这便是日后的铁三角！
                </p>
                <div class="col-img"><img src="https://pic.imgdb.cn/item/627f1809094754312971ea13.jpg"></div>
                <p>上一篇：</p>
                <p>下一篇：<a href="./test2.html">西沙海底墓</a></p>
            </div>
            <!--end div.wenzi-2-->
        </div>
        <!--end div.col-sm-12-->
    </div>
    <!--end div.row-->
    </div>

    <!--页脚-->
    <div class="footer">
        <div class="foot_row">
            <p style="text-align: center;">panther @ 2022-05-13</p>
        </div>
    </div>

</body>

</html>